#name {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#ffffff00, #ffffff00, #000000ff), url("/assets/images/moving-castle.gif");
    background-size: 100vw;
    background-position: center;
}

#name h1 {
    font-family: "Bowlby One", sans-serif;
    color: white;
    font-style: normal;
    padding-left: 50px;
    font-size: 35vh;
}

#name h2 {
    font-family: "Bowlby One", sans-serif;
    color: white;
    font-style: normal;
    padding-left: 50px;
    font-size: 15vh;
}

#name .scroll-text {
    inline-size: 100px;
    text-align: center;
    font-family: "Short Stack", cursive;
    color: white;
    position: absolute;
    right: 50px;
    top: 80vh;
}

#name .scroll-text p {
    font-size: 18px;
}

#name .scroll-text i {
    margin-top: 20px;
}